<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      Hana Choi
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ site.baseurl }}/resume/">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/hanachoi-design/">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>