/* Default Font Color */
body {
    color: #484848;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center; 
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Adjust grid layout for mobile screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .grid-container img {
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Flexbox Utility Classes */
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

/* .mt-auto {
    margin-top: auto !important;
} */

/* Link Hover Color */
a:hover {
    color: #926AC2 !important;
}

/* Typography */
.young-serif-font,
.navbar-brand {
    font-family: 'Young Serif', serif;
}
