/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center; 
    position: relative;
    margin-bottom: 50px;
    margin-left: 12px;
}

/* Flexbox Utility Classes */
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.mt-auto {
    margin-top: auto !important;
}
