/* Typography */
.young-serif-font,
.navbar-brand {
    font-family: 'Young Serif', serif;
}

/* Navbar */
.navbar-brand {
    color: #926AC2;
    font-size: 30px;
}

.navbar-nav .nav-link.active {
    color: #484848;
}

/* Link Hover Color */
a:hover,
.nav-link:hover {
    color: #926AC2 !important;
}