---
layout: default
title: home
---

<div class="grid-container">
    <img src="{{ site.baseurl }}/assets/profile_pic.png" alt="Profile Picture" class="profile-pic">
    <div class="centered-content">
        {{ content }}
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="{{ site.baseurl }}{{ post.cover_image }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.sub_header | strip_html | truncate: 100 }}</p>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>